.CONFIG4E_JDBC_CONNECTIONSTRING_ALPHIEN_BETA = "jdbc:mysql://10.153.66.102:3306/beta-alphien?user=betauser&password=cyuk1290!"
.CONFIG4E_JDBC_CONNECTIONSTRING_ALPHIEN = "jdbc:mysql://10.153.66.90:3304/alphien?user=sso_user&password=mbXWJHMVzeuUuJZE"
.CONFIG4E_JDBC_CONNECTIONSTRING_ALWIKI = "jdbc:mysql://10.153.66.11:3306/BetaALwiki?user=usrBetaWikiExt&password=bVJjq2aAqU6Rpjbw"
