<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!--<h1>Access Denied</h1>-->
	<script>
	
		window.location.replace("login.jsp?action=logout");
	
	</script>
</body>
</html>