<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="%4p %d{HH:mm:ss,SSS} %C - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="ERROR">
			<AppenderRef ref="CONSOLE"/>
		</Root>
     	<Logger name="log4j.logger.com.fourelementscapital.executer" level="ERROR" additivity="false">
			<Appender-ref ref="CONSOLE" />
    	</Logger>	
    	<Logger name="log4j.logger.com.fourelementscapital.config.Config" level="ERROR" additivity="false">
			<Appender-ref ref="CONSOLE" />
    	</Logger>				
    	<Logger name="log4j.logger.com.fourelementscapital.balance" level="ERROR" additivity="false">
			<Appender-ref ref="CONSOLE" />
    	</Logger>
    	<Logger name="log4j.logger.com.fourelementscapital.rscript" level="ERROR" additivity="false">
			<Appender-ref ref="CONSOLE" />
    	</Logger>
    	<Logger name="log4j.logger.org.apache" level="ERROR" additivity="false">
			<Appender-ref ref="CONSOLE" />
    	</Logger>
	</Loggers>
</Configuration>